#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  font-size: 1.7em;
  font-weight: 800;
  margin:0;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #f0544f,  #d81e5b 10%, #535bf2 35%, black 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.logo:hover {
  cursor: pointer;
  background-position: 0 100%;
}

